.main .search {
  padding: 5px 5px 5px 20px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  align-items: center;
}

.main .search input {
  width: 400px;
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 20px;
}

.main .search .searchType {
  display: flex;
  background-color: var(--secondary);
  align-items: center;
  border-radius: 30px;
  padding: 15px 30px;
  gap: 20px;
}

.main .search .searchType h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.main .ui.dropdown > .icon-dropdown {
  width: 20px;
}

@media screen and (max-width: 768px) {
  .main .search {
    padding: 5px 5px 5px 10px;
  }

  .main .search > img {
    width: 25px;
  }

  .main .search input {
    width: 200px;
    font-size: 16px;
  }

  .main .search .searchType {
    padding: 10px 20px;
    gap: 10px;
  }

  .main .search .searchType h5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .main .search {
    padding: 5px 5px 5px 10px;
  }

  .main .search > img {
    width: 25px;
  }

  .main .search input {
    width: 100px;
    margin-right: 20px;
    font-size: 16px;
  }

  .main .search .searchType {
    padding: 10px 20px;
    gap: 10px;
  }

  .main .search .searchType h5 {
    font-size: 12px;
  }
  .main .ui.dropdown .text {
    font-size: 12px;
  }
  .main .ui.dropdown .menu > .item {
    padding: 5px 10px !important;
  }
  .main .search .ui.dropdown .menu {
    left: -40px !important;
  }
  .main .ui.dropdown > .icon-dropdown {
    width: 15px;
  }
}
